@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<hr />
@if (ViewBag.msg != null)
{
    <div class="alert alert-success">@ViewBag.msg</div>
}


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        <div class="input-group col-md-3">
            <input type="text" name="body" class="form-control" />
            <div class="input-group-btn">
                <button class="btn btn-success" type="submit">
                    <i class="glyphicon glyphicon-send"></i>
                </button>

            </div>
        </div>
    }
    <hr />
}