@model MVCprojekt.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Strona odwiedzona @Model.Counter razy</h1>
</div>



<div>
    @foreach(var item in Model.ListOfProducts)
    {
    <div style="border-style: dotted">
        <h5>Nazwa: @item.Name</h5>
        <h5>Cena: @item.Price</h5>
        <h5>Kategoria: @item.Category</h5>
    </div>
    <br />
    }

</div>